doctype html
html(lang='en')
 head
    style
      include style.css
 body
   div(class= "header_footer")  
   p Hey there,
   p We are excited to have you get started. First you need to confirm
   p your account. Just click the button and get going 
   div(class = "linkb")
    a(class='button' href=`${url}`) Confirm Account
   p Cheers, 
   p Team CUG_Syncup 
   div(class= "header_footer")  Have questions ? Please contact  contact@nuzpapr.com, we're always happy to help out.